<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="https://github.com/google/stagehand" name="scaffolded-by">
  <title>Stuffmanager</title>
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/skeleton.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>
  <script defer src="main.vue.dart.js"></script>
</head>

<body>
<div class="container">
  <div id="app">
    <h1>The Stuffmanager</h1>
    <input v-model="name">
    <button v-on:click="addPerson" class='button-primary'>Add person</button>
    <person-view :key="person.uuid" :person="person" v-for="person in persons"></person-view>
  </div>
</div>
</body>
</html>
